.card-box{
  width:90px;
  height:90px;
  font-size:40px;
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#0d6efd;
  color:white;
  border-radius:10px;
  user-select:none;
  transition:0.3s;
}
.card-box:hover{
  transform: scale(1.05);
}
.matched{
  background:#18a558 !important;
}
